@if(worksStore.isLoading()){
    <app-loading></app-loading>
  }
  @else {
    @if(worksStore.error() !== null && worksStore.error() !== undefined) {
      <h1 class="p-3 m-3 font-bold text-center text-xl bg-red-300 text-red-950">{{ worksStore.error() }}</h1>
    }
    @if(Success){
      <h1 class="p-3 m-3 font-bold text-center text-xl bg-green-300 text-green-950">{{ UI.SuccessText }}</h1>
    }
      <form [formGroup]="UpdateWorkForm" [class.bg-red-100]="worksStore.error !== null" [class.bg-white]="worksStore.error !== null" class="font-cairo-regular mb-10 max-w-[50rem] flex flex-col justify-center items-center p-10 rounded-lg shadow-lg">
        <div class="flex mb-10">
          <h1 class="text-nowrap text-primary-950 font-cairo-black text-3xl">{{UI.FormTitle}}</h1>
        </div>
        
        <div class="w-full grid grid-cols-1 gap-6 mb-10">
      
          <div id="input" class="relative w-full">
            <app-type-toggle (ChangeMediaType)="ChangeMediaTypeFromToggle($event)"></app-type-toggle>
          </div>
      
          <div id="input" class="relative w-full">
            <input
              #MediaUrl
              formControlName="MediaUrl"
              [ngClass]="{ 'text-right' : Language === 1 }"
              dir="{{ Language === 1 ? 'rtl' : 'ltr' }}"
              type="text"
              id="floating_outlined10"
              class="block w-full text-sm h-[50px] px-4 text-primary-900 bg-white rounded-[8px] border border-primary-200 appearance-none focus:border-transparent focus:outline focus:outline-2 focus:outline-primary focus:ring-0 hover:border-brand-500-secondary- peer invalid:border-error-500 invalid:focus:border-error-500 overflow-ellipsis overflow-hidden text-nowrap"
              placeholder="{{UI.Media}}"
              value=""
            />
            <label
              dir="{{ Language === 1 ? 'rtl' : 'ltr' }}"
              for="floating_outlined10"
              class="peer-placeholder-shown:-z-10 peer-focus:z-10 absolute text-[14px] leading-[150%] duration-300 transform -translate-y-[1.2rem] scale-75 top-2 z-10 origin-[0] bg-white disabled:bg-gray-50 px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-tranprimary-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-[1.2rem] left-2 right-auto rtl:-right-2 rtl:left-auto"
            >
              {{UI.Media}}
            </label>
          </div>
      
          <div id="input" class="relative w-full">
            <input
              #Title
              formControlName="Title"
              [ngClass]="{ 'text-right' : Language === 1 }"
              dir="{{ Language === 1 ? 'rtl' : 'ltr' }}"
              type="text"
              id="floating_outlined20"
              class="block w-full text-sm h-[50px] px-4 text-primary-900 bg-white rounded-[8px] border border-primary-200 appearance-none focus:border-transparent focus:outline focus:outline-2 focus:outline-primary focus:ring-0 hover:border-brand-500-secondary- peer invalid:border-error-500 invalid:focus:border-error-500 overflow-ellipsis overflow-hidden text-nowrap"
              placeholder="{{UI.Title}}"
              value=""
            />
            <label
              dir="{{ Language === 1 ? 'rtl' : 'ltr' }}"
              for="floating_outlined20"
              class="peer-placeholder-shown:-z-10 peer-focus:z-10 absolute text-[14px] leading-[150%] duration-300 transform -translate-y-[1.2rem] scale-75 top-2 z-10 origin-[0] bg-white disabled:bg-gray-50 px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-tranprimary-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-[1.2rem] left-2 right-auto rtl:-right-2 rtl:left-auto"
            >
              {{UI.Title}}
            </label>
          </div>
      
          <div id="input" class="relative w-full">
            <textarea
              #Description
            formControlName="Description"
              [ngClass]="{ 'text-right' : Language === 1 }"
              dir="{{ Language === 1 ? 'rtl' : 'ltr' }}"
              type="text"
              aria-multiline="true"
              id="floating_outlined30"
              class="block w-full text-sm h-[50px] px-4 text-primary-900 bg-white rounded-[8px] border border-primary-200 appearance-none focus:border-transparent focus:outline focus:outline-2 focus:outline-primary focus:ring-0 hover:border-brand-500-secondary- peer invalid:border-error-500 invalid:focus:border-error-500 overflow-ellipsis overflow-hidden text-nowrap pt-3"
              placeholder="{{UI.Description}}"
              value=""
            ></textarea>
            <label
              dir="{{ Language === 1 ? 'rtl' : 'ltr' }}"
              for="floating_outlined30"
              class="peer-placeholder-shown:-z-10 peer-focus:z-10 absolute text-[14px] leading-[150%] duration-300 transform -translate-y-[1.2rem] scale-75 top-2 z-10 origin-[0] bg-white disabled:bg-gray-50 px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-tranprimary-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-[1.2rem] left-2 right-auto rtl:-right-2 rtl:left-auto"
            >
              {{UI.Description}}
            </label>
          </div>
      
      
          <div id="input" class="rounded-lg p-3 border-[1px] border-primary-500 relative w-full flex flex-col justify-center items-center">
            <label class="mb-3 p-3 border-b-2">{{ UI.Tools }}</label>
            
            <div class="flex flex-col gap-3">
              @for (tool of toolsStore.tools(); track $index) {
                <div class="flex justify-center items-center w-full">
                  <input [id]="tool.id" type="checkbox" class="peer hidden" (change)="ChangeTools($event)">
                  
                  <label [for]="tool.id" class="max-w-full overflow-hidden flex justify-between items-center bg-primary-100 peer-checked:bg-primary-700 peer-checked:text-white transition-all rounded-md w-full text-center flex-1">
                    <img src="{{tool.publicToolImageUrl}}" class="h-10 w-10" alt="">
                    <div class="flex justify-center items-center text-center w-full">
                      <h1 class="mx-2 text-center text-nowrap">{{ tool.title | titlecase}}</h1>
                    </div>
                  </label>
                </div>  
              }
            </div>
              
          </div>
        </div>
      
        <div class="sm:flex flex gap-4">
          <button
            #UpdateWorkButton
            [disabled]="!UpdateWorkForm.valid"
            class="text-nowrap disabled:cursor-default disabled:bg-primary-disabled disabled:text-gray-500 w-fit rounded-lg text-sm px-5 py-2 focus:outline-none h-[50px] border bg-primary-500 hover:bg-primary-600 focus:bg-primary-700 border-primary-500-primary- text-white focus:ring-4 focus:ring-primary-200 hover:ring-4 hover:ring-primary-100 transition-all duration-300"
            type="button"
            (click)="UpdateWork()"
          >
            <div class="flex gap-2 items-center">{{UI.Save}}</div>
          </button>
          <button
            class="w-fit rounded-lg text-sm px-5 py-2 focus:outline-none h-[50px] border bg-transparent border-primary text-primary focus:ring-4 focus:ring-gray-100"
            type="reset"
            (click)="Reset()"
          >
            {{UI.Reset}}
          </button>
        </div>
      </form>
      
  
  }
  